            /*Reset stylesheet*/
            /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
            
            html,
            body,
            div,
            span,
            applet,
            object,
            iframe,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            blockquote,
            pre,
            a,
            abbr,
            acronym,
            address,
            big,
            cite,
            code,
            del,
            dfn,
            em,
            img,
            ins,
            kbd,
            q,
            s,
            samp,
            small,
            strike,
            strong,
            sub,
            sup,
            tt,
            var,
            b,
            u,
            i,
            center,
            dl,
            dt,
            dd,
            ol,
            ul,
            li,
            fieldset,
            form,
            label,
            legend,
            table,
            caption,
            tbody,
            tfoot,
            thead,
            tr,
            th,
            td,
            article,
            aside,
            canvas,
            details,
            embed,
            figure,
            figcaption,
            footer,
            header,
            hgroup,
            menu,
            nav,
            output,
            ruby,
            section,
            summary,
            time,
            mark,
            audio,
            video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            
            article,
            aside,
            details,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            menu,
            nav,
            section {
                display: block;
            }
            
            body {
                line-height: 1;
            }
            
            ol,
            ul {
                list-style: none;
            }
            
            blockquote,
            q {
                quotes: none;
            }
            
            blockquote:before,
            blockquote:after,
            q:before,
            q:after {
                content: '';
                content: none;
            }
            
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            /* End of the reset stylesheet */
            /* Border-box model*/
            
            html {
                box-sizing: border-box;
            }
            
            *,
            *:before,
            *:after {
                box-sizing: inherit;
            }
            /* End of the border-box model setting */
            
            @media screen and (max-width: 1439px) {
                #square-top {
                    display: none;
                }
                #text-middle {
                    display: none;
                }
            }
            /* For mobile */
            
            h1,
            h2,
            h3 {
                font-family: 'Barlow', sans-serif;
                font-weight: 900;
                color: #162542;
                text-transform: uppercase;
            }
            
            h1 {
                font-size: 48px;
                line-height: 48px;
            }
            
            h2 {
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                margin-bottom: 24px;
            }
            
            h3 {
                font-size: 24px;
                text-align: center;
                line-height: 28px;
                margin-bottom: 24px;
                margin-top: 48px;
            }
            
            p {
                font-size: 16px;
                font-family: 'Barlow', sans-serif;
                font-weight: 500;
                color: #7B8BAD;
                line-height: 26px;
            }
            
            body {
                width: 360px;
            }
            
            header {
                margin: 23px 24px;
                display: flex;
                justify-content: space-between;
            }
            
            #logo {
                align-self: center;
            }
            
            #top {
                margin: 64px 24px;
            }
            
            #preorder {
                display: flex;
                justify-content: space-between;
            }
            
            #text-improve {
                margin: 32px auto;
            }
            
            #text-release {
                align-self: center;
            }
            
            #text-release p {
                text-transform: uppercase;
            }
            
            #keyboard-top {
                margin-left: 24px;
                margin-top: 64px;
            }
            
            #button2-pic {
                width: 150px;
                height: 48px;
            }
            
            #picture-keyboard-top {
                width: 372px;
                height: 331px;
                border-radius: 5%;
            }
            
            #middle-bottom {
                margin-top: 24px;
                margin-right: 24px;
                margin-bottom: 75px;
                display: flex;
                justify-content: space-between;
            }
            
            #picture-middle-bottom1 {
                width: 119px;
                height: 193px;
                border-radius: 10%;
            }
            
            #picture-middle-bottom2 {
                width: 200px;
                height: 193px;
                border-radius: 10%;
            }
            
            #bottom {
                margin: 75px 24px 96px 24px;
            }
            
            #bottom p {
                text-align: center;
            }
            
            .features {
                margin-top: 64px;
            }
            
            #bottom-features {
                margin-top: 111px;
            }
            
            .logo-feature {
                display: block;
                margin: auto;
            }
            
            footer {
                text-align: center;
                margin-bottom: 50px;
            }
            
            footer span {
                font-weight: 700;
            }
            /* For tablets */
            
            @media only screen and (min-width: 770px) {
                body {
                    width: 770px;
                }
                header {
                    margin: 40px 40px;
                }
                #button2-pic {
                    width: 175px;
                    height: 58px;
                }
                #top-title {
                    margin: 0;
                    grid-area: top-title;
                }
                #keyboard-top {
                    margin: 0;
                    grid-area: keyboard-top;
                }
                #text-improve {
                    margin: 0;
                    grid-area: text-improve;
                }
                #preorder {
                    grid-area: preorder;
                }
                #picture-keyboard-top {
                    width: 478px;
                    height: 425px;
                }
                #top {
                    display: grid;
                    margin: 62px 40px;
                    grid-template-columns: 340px 68px 320px;
                    grid-template-rows: 60px 116px 34px 78px 39px 58px 60px;
                    grid-template-areas: ". . keyboard-top" "top-title . keyboard-top" ". . keyboard-top" "text-improve . keyboard-top" ". . keyboard-top" "preorder . keyboard-top" ". . keyboard-top";
                }
                #bottom {
                    margin: 0;
                }
                #picture-middle-bottom1 {
                    width: 214px;
                    height: 320px;
                    border-radius: 5%;
                }
                #picture-middle-bottom2 {
                    width: 445px;
                    height: 320px;
                    border-radius: 5%;
                }
                #middle-bottom {
                    margin-left: 40px;
                    margin-right: 40px;
                }
                #bottom-intro {
                    margin: 72px 40px;
                    display: flex;
                }
                #bottom-intro p,
                h2 {
                    text-align: left;
                }
                #bottom-intro-title h2 {
                    margin-bottom: 0;
                }
                #bottom-intro-paragraph {
                    align-self: center;
                    padding-left: 60px;
                    margin-left: 36px;
                }
                #feature-comp {
                    grid-area: feature-comp;
                }
                #feature-wire {
                    grid-area: feature-wire;
                }
                #feature-cap {
                    grid-area: feature-cap;
                }
                #feature-rgb {
                    grid-area: feature-rgb;
                }
                #bottom-features {
                    margin: 70px 98px 142px 40px;
                    display: grid;
                    grid-template-columns: 339px;
                    grid-template-rows: auto;
                    grid-template-areas: "feature-comp feature-wire" "feature-cap feature-rgb";
                }
                #bottom-features p,
                h3 {
                    text-align: left;
                }
                #feature-comp p {
                    margin-right: 60px;
                }
                #feature-wire p {
                    margin-right: 10px;
                }
                #feature-cap {
                    margin-right: 60px;
                }
                #feature-rgb {
                    margin-right: 10px;
                }
                .logo-feature {
                    margin: 0;
                }
            }
            /* For desktop */
            
            @media only screen and (min-width: 1440px) {
                body {
                    width: 1420px;
                }
                header {
                    margin: 64px 165px;
                }
                #picture-keyboard-top {
                    width: 540px;
                    height: 480px;
                }
                #top-title {
                    grid-area: top-title;
                }
                #keyboard-top {
                    margin: 0;
                    grid-area: keyboard-top;
                }
                #text-improve {
                    margin: 0;
                    grid-area: text-improve;
                }
                #preorder {
                    grid-area: preorder;
                }
                #square-top {
                    width: 255px;
                    height: 240px;
                    grid-area: square-top;
                }
                #top {
                    display: grid;
                    margin: 62px 164px;
                    grid-template-columns: 391px 158px 540px 30px 255px;
                    grid-template-rows: 60px 116px 34px 78px 39px 58px 60px;
                    grid-template-areas: ". . keyboard-top . square-top" "top-title . keyboard-top . ." ". . keyboard-top . ." "text-improve . keyboard-top . ." ". . keyboard-top . ." "preorder . keyboard-top . ." ". . keyboard-top . .";
                }
                #bottom-intro {
                    display: none;
                }
                #picture-middle-bottom1 {
                    width: 245px;
                    height: 480px;
                }
                #picture-middle-bottom2 {
                    width: 430px;
                    height: 480px;
                }
                #text-middle {
                    width: 235px;
                    height: 265px;
                    margin-left: 127px;
                    margin-right: 20px;
                    align-self: center;
                }
                #middle-bottom {
                    margin-top: 24px;
                    margin-right: 164px;
                    margin-left: 164px;
                    margin-bottom: 75px;
                    display: flex;
                    justify-content: space-between;
                }
                #bottom {}
                .features {
                    width: 255px;
                    height: 323px;
                }
                #feature-comp p {
                    margin: 0;
                }
                #bottom-features {
                    margin: 70px 165px 142px 158px;
                    display: flex;
                    justify-content: space-between;
                }
            }